*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainlayout 
{
      background-color: #0a3d62; /* deep navy */
  color: #ffffff;
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
}